/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik&display=swap');
/* open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:wght@500&family=Rubik&display=swap');

body {
    background-color: black;
    color: white;
}

.row
{
    margin: 0px !important;
    padding: 0px !important;
}

p {
    font-size: 20px;
}

/* content header style */
.nama
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav {
    background: rgb(15, 12, 60);
    background: linear-gradient(159deg, rgba(15, 12, 60, 1) 0%, rgba(5, 5, 5, 1) 100%);
}

.navbar-toggler
{
    border-color: white !important;
}

/* content */

.content-wrap
{
    background-image: url(../img/bg-1.png);
}

.garis
{
    width: 20px;
    height: 5px;
    border-bottom: 2px solid #E57C23;
    color: #E57C23;
}



.container-fluid.p-0 h1
{
    color: #E57C23;
}

.header-info li
{
    list-style-type: none;
}

.sp-header {
    font-size: 20px;
}

/* .col-md-2.order-md-2.col-12.order-1 img
{
    width: 10rem;
} */

li i 
{
    margin-right: 10px;
}

/* skill */
.skill h1
{
    font-weight: 600;
    font-size: 26px;
}

.garis-biru
{
    border-bottom: 1px solid rgb(38, 0, 255);
}

.stars h4
{
    font-weight: 600;
    font-size: 30px;
}

.stars img
{
    width: 100px;
}

.card
{
    background-color: rgba(0, 125, 240, 0.4); 
    padding: 10px;
    width: 20rem;
    height: 20rem;
}

.card-img-top.rounded.rounded-circle
{
    border: 2px solid white;
    width: 100px;
}

.testi-body p
{
    margin-top: 10px;
    font-size: 15px;
}

/* responsive */
@media screen and (min-device-width: 0px) and (max-device-width: 500px) { 
    /* Home */

    p
    {
        font-size: 7px;
    }

    .name-garis
    {
        font-size: 20px;
    }

    .container-fluid.p-0 h1
    {
        font-size: 25px;
    }

    .container-fluid.p-0 p
    {
        font-size: 15px;
    }


    .skill h1
    {
        font-size: 10px;
    }
    .skill h4
    {
        font-size: 20px;
    }
    .skill img
    {
        width: 70px;
    }

    .card
    {
        width: 18rem;
    }

    .stars h4
    {
        font-size: 12px;
    }
}