/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik&display=swap');
/* open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:wght@500&family=Rubik&display=swap');

body {
    background-color: black;
    color: white;
}

p {
    font-size: 20px;
}

/* content header style */
.nama
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

nav {
    background: rgb(15, 12, 60);
    background: linear-gradient(159deg, rgba(15, 12, 60, 1) 0%, rgba(5, 5, 5, 1) 100%);
}

.navbar-toggler
{
    border-color: white !important;
}

/* content */

.content-wrap
{
    background-image: url(../img/bg-1.png);
}

.garis
{
    width: 20px;
    height: 5px;
    border-bottom: 2px solid #E57C23;
    color: #E57C23;
}

.name-garis
{
    color: white;
}

.container-fluid.p-0 h1
{
    color: #E57C23;
}

/* responsive */
@media screen and (min-device-width: 0px) and (max-device-width: 500px) { 
    /* Home */

    .name-garis
    {
        font-size: 20px;
    }

    .container-fluid.p-0 h1
    {
        font-size: 25px;
    }

    .container-fluid.p-0 p
    {
        font-size: 15px;
    }
}